* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  position: relative;
}

.section {
  height: 100vh;
  /* background: rebeccapurple; */
  position: relative;
  text-align: center;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 60px;
  color: #ffff00;
}

.a-background {
  margin-left: 20px;
  background-color: whitesmoke;
  border: 1px solid black;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.a-background a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* ------------------------------------- */

.section-1 {
  background-color: #ff0000;
}

.section-2 {
  background-color: #008200;
}

.section-3 {
  background-color: #ffff00;
}

.section-3 p {
  color: #008200;
}

/* Bonus */

.navbar {
  position: absolute;
  right: 10px;
  top: 20px;
  color: black;
  z-index: 1;
  position: fixed;
}
